@{
    var id1 = ViewBag.Id;
    var id2 = ViewBag.Sched;
}
<h3>Edit Grade</h3>

<div id="divGradeEdit">
    Grade : <input type="text" data-bind="value: $data.grade" /><br />
    <br />
    <input type="button" data-bind="value: 'Update', click: $data.update" style="margin-left:80px" />
    <br /><br />
    <div id="divMessage"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        require(['ViewModels/InstructorViewModel'], function (instructorViewModel) {
            var instructorViewModelObj = new instructorViewModel();
            instructorViewModelObj.Load2("@id1", @id2);
        });
    });
</script>