@{
    ViewBag.Title = "Admin";
}
<h2>Welcome admin</h2>

<p>What feature should admin able to do?</p>
<ul>
    <li><a href="~/Admin/Edit?id=@ViewBag.id">Edit my info</a></li>
    <li><a href="~/Admin/StudentList">Show All Students</a></li>
    <li><a href="~/Admin/InstructorList">Manage Instructors</a></li>
    <li><a href="~/Admin/ScheduleDayList">manage schedule day table</li>
    <li><a href="~/Admin/ScheduleTimeList">manage schedule time table</li>
    <li><a href="~/Schedule/Index?year=&quarter=">Manage Schedule</a></li>
</ul>
